* {
    font-family: 'Roboto', sans-serif;
}

.header {

}

.contact {
    height: 40px;
    display: block;
    display: flex;
    justify-content: flex-end;
    background:  #F4F4F4;
    font-size: 12px;
}

.contact__link {
    text-decoration: none;
    color: rgba(170, 170, 170, 1);
    padding: 10px 25px 4px 25px;
    font-size: 12px;
}

.contact__link:hover {
    text-decoration: underline;
}

select {
    border: none;
    color: rgba(170, 170, 170, 1);
    background:#F4F4F4;
    cursor: pointer;
}

select:hover {
    text-decoration: underline;
}

option {
    background: #F4F4F4;
}

.nav {
    width: 100%;
    display: flex;
    height: 99px;
    border-bottom: 1px solid #E0E0E0;
}
.nav__logo {
    margin: 25px 214px 24px 120px;

}

.nav__list {
    display: flex;
    list-style-type: none;
    padding: 0;
}
    
.nav__link {
    display: block;
    text-decoration: none;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 24px 100px 24px 0;
    font-size: 12px;
}

.nav__link:hover {
    text-decoration: underline;
}

.showrooms {
    margin: 30px 10px 38px 390px;

}

.showrooms__link {
    display: flex;
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 5px;
}

.showrooms__text {
    margin-top: 5px;
    margin-left: 5px;
}

.showrooms__link:hover {
    text-decoration: underline;
}

.basket {
    margin: 30px 30px;
}

.basket__link {

}

.container {
    margin: 49px 56px 0 56px;
}

.info {
    height: 174px;
    display: flex;
    padding: 80px 120px;
}

.desing {
    width: 355px;
    height: 174px;
    font-size: 48px;
    margin-left: 55px;
}

.text {
    width: 569px;
    height: 160px;
    font-size: 24px;
    color: #aaa;
    font-size: 24px;
    margin-left: 136px;
}

p {
    margin: 0;
}

.furniture {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 940px;
}
.furniture__container {
    padding: 2px 5px;
}

.furniture__link {
    text-decoration: none;
    color: #1A1A1A;
}

.furniture__link:hover {
    text-decoration: underline;
}

.counting {
    width: 900px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 212px;
}

.over {
    margin-top: 27px;
}

.compani {
 
}