* {
    font-family: 'Roboto', sans-serif;
}

.header {

}

.contact {
    height: 40px;
    display: block;
    display: flex;
    justify-content: flex-end;
    background:  #F4F4F4;
    font-size: 12px;
}

.contact__link {
    text-decoration: none;
    color: rgba(170, 170, 170, 1);
    padding: 10px 25px 4px 25px;
    font-size: 12px;
}

.contact__link:hover {
    text-decoration: underline;
    color: #000000;
}

select {
    border: none;
    color: rgba(170, 170, 170, 1);
    background:#F4F4F4;
    cursor: pointer;
}

select:hover {
    text-decoration: underline;
}

option {
    background: #F4F4F4;
}

.nav {
    width: 100%;
    display: flex;
    height: 99px;
    border-bottom: 1px solid #E0E0E0;
}
.nav__logo {
    margin: 25px 214px 24px 120px;

}

.nav__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-top: 16px;
}
    
.nav__link {
    display: block;
    text-decoration: none;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 24px 100px 24px 0;
    font-size: 12px;
}

.nav__link:hover {
    text-decoration: underline;
    color: #000000;
}


.showrooms {
    margin: 30px 10px 38px 390px;

}

.showrooms__link {
    display: flex;
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 5px;
}

.showrooms__text {
    margin-top: 5px;
    margin-left: 5px;
}

.showrooms__link:hover {
    text-decoration: underline;
    color: #000000;
}


.basket {
    margin: 30px 30px;
}

.basket__link {

}

.container {
    margin: 49px 56px 0 56px;
}

.info {
    height: 174px;
    display: flex;
    padding: 80px 120px;
}

.desing {
    width: 355px;
    height: 174px;
    font-size: 48px;
    margin-left: 55px;
}

.text {
    width: 569px;
    height: 160px;
    font-size: 24px;
    color: #aaa;
    font-size: 24px;
    margin-left: 136px;
}

p {
    margin: 0;
}

.furniture {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 940px;
    margin-top: 210px;
}
.furniture__container {
    padding: 2px 5px;
}

.furniture__link {
    text-decoration: none;
    color: #1A1A1A;
}

.furniture__link:hover {
    text-decoration: underline;
}

.furniture__name {
    color: #1A1A1A;
    text-decoration: none;
}

.furniture__name:hover {
    text-decoration: underline;
    color: #1A1A1A;
}

.counting {
    width: 900px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 212px;
}

.over {
    margin-top: 27px;
}


.carousel, .slide {
    margin-top: 288px;
}

.functions {
    width: 1090px;
    margin-top: 83px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 48px;
    color: #1A1A1A;
}

.get {
    color: #46856E;
    font-size: 14px;
}

.info__touch {
    display: flex;
    margin-top: 59px;
}

.touch__block {
    width: 324px;
    height: 330px;
    padding: 5px;
    margin: 40px;
    text-align: center;
}

.touch__h3 {
    font-size: 24px;
    margin-top: 26px;
    text-align: left;
    margin-bottom: 18px;
}

.touch__info {
    font-size: 16px;
    color: #aaa;
    text-align: left;
}


.container__reviews {
    position: relative;
    text-align: center;
    margin-top: 240px;
    color: #F4F4F4;
    /* background: url(/img/women.jpg); */
}


.reviews {
    display: block;
    position: absolute;
    width: 200px;
    height: 150px;
    bottom: 534px;
    left: 200px;
}

.rating {
    margin-top: 32px;
    text-align: left;
    

}

.response {
     
}

.response__text {

}

.compani {
  
}

.all-reviews__block {
    margin-top: 39px;
}

.all-reviews {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-top: 100px;
}

.all-reviews:hover {
    text-decoration: underline;
}

.work {
    width: 882px;
    height: 260px;
    font-size: 46px;
    color: #aaa;
    margin: 275px;
}

.work__h2 {
    font-size: 46px;
    color: #000;
}

.direct {
    display: flex;
    margin: 120px;
}

.direct__right {
    width: 311px;
    height: 96px;
    margin: 258px 48px 258px 90px;
}

.direct__h3 {
    font-size: 32px;
}

.direct__p {
    font-size: 16px;
    color: #aaa;
}

.purpose {
    display: flex;
    margin: 120px;
}
.purpose__left {
    width: 311px;
    height: 96px;
    margin: 216px 121px 213px 110px;
}
.purpose__h3 {
    font-size: 32px;
}
.purpose__p {
    font-size: 16px;
    color: #aaa;
}

.sustainably {
    display: flex;
    margin: 120px;
}

.sustainably__right {
    width: 311px;
    height: 96px;
    margin: 258px 48px 258px 90px;
}

.sustainably__h3 {
    font-size: 32px;
}

.sustainably__p {
    font-size: 16px;
    color: #aaa;
}

.carousel_2 {
    margin-bottom: 286px;
}

.trial {
    width: 1200px;
    height: 462px;
    background: #F2F2F2;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 79px;
}

.trial__h2 {
    font-size: 46px;
    padding: 63px 377px 0px 377px;
}

.trial__img {
    display: flex;
    margin-left: 233.33px;
    
}

.img {
    padding: 65px 70px;
}

.button {
    width: 146px;
    height: 50px;
    border: none;
    background: #46856E;
    margin-left: 527px;
    margin-right: 527px;
}

.trial__a {
    display: flex;
    margin-top: 26px;
    color: #aaa;
    text-decoration: none;
    margin-left: 530px;
    font-size: 12px;
}

.trial__a:hover {
    text-decoration: underline;
}

.footer {
    width: 100%;
    height: 619px;
    background: #2B2B2B;
    display: flex;
    flex-wrap: wrap;
}

.about {
    color: #fff;
}

.support {
    color: #fff;
}

.showrooms {
    color: #fff;
}

.office {
    color: #fff;
}